*.o
*.pyc

cppl_generator
cppl_compress
cppl_evaluate
equation_scanner.lex.cc
equation_parser.tab.cc
equation_parser.tab.hh
position.hh
location.hh
stack.hh
eval/figures
eval/results/*
test.sh

policy-decision-point/policy_decision_point
policy-decision-point/client
policy-decision-point/server
policy-decision-point/func_handler_23.so
